<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
      xml:lang="en" lang="en" dir="ltr">
<head>
    <title></title>
</head>
<body>

<wicket:panel>
    <div class="grid_10 push_1 alpha omega">
        One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into
        a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his
        brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to
        cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size
        of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't
        a dream. His room, a proper human room although a little too small, lay peacefully between its four
        familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling
        salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine
        and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat
        upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.
        Gregor then turned to look out the window at the dull weather. Drops
    </div>
</wicket:panel>

</body>
</html>