<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
      xml:lang="en" lang="en" dir="ltr">
<head>
    <title></title>
</head>
<body>

<wicket:panel>
    <div class="grid_10 push_1 alpha omega">
        <br>
        <p>This is a sample application i did to show some code while applying to a new job.
            It is by no means complete or beautiful. The only purpose it has is to demonstrate the
            easiness of switching content on a page.</p>
        <br>
        <p>Above you see 3 links, each of which swaps the main part of the page.</p>

    </div>
</wicket:panel>

</body>
</html>